*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
 }

 html{
   background-color: var(--bg-primary-color);
   color: var(--text-primary-color);
   font-family: Arial, Helvetica, sans-serif;
 }
main{
  width: 100%;
  font-size: var(--font-md);
 }

main section{
  width: 100%;    
  padding: var(--padding-2xl);
  display: flex;
  gap: var(--gutter-md);
}

main section .left{
  border-radius: var(--border-radius-xl);
  background-color: var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-lg);
  width: 70%
}

main section .top{
  padding-top : var(--padding-md);
  display: flex;
  align-items: center;
  gap: var(--gutter-md);
}

.button{
  padding: var(--padding-md) var(--padding-md);
  border: none;
  outline: none;
  border-radius: var(--border-radius-sm);
  background-color: var(--bg-active-color);
  cursor: pointer; 
}
#box1{
  color: var(--text-primary-color);
  background-color: rgb(20, 90, 187);
}
#box2{
  color: var(--text-primary-color);
  background-color: rgb(187, 20, 20);
}
#box3{
  color: var(--text-primary-color);
  background-color: rgb(6, 132, 57);
}

main section .bottom{
  background-color: rgb(11, 61, 61);
  padding: var(--padding-md);
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: var(--border-radius-md);
  display: flex;  
  align-items: center;
  justify-content: center;
}

main section .bottom .placeholder{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-sm);
}

main section .bottom .placeholder i{
  font-size: 10rem;
}
main section .bottom .placeholder p{
  font-size: var(--font-lg);
}

main section .right{

  border-radius: var(--border-radius-xl);
  width: 30%; 
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  background-color: var(--bg-secondary-color);
  gap: var(--gutter-sm);
}

main section .right .filter{
  width: 100%;
}
main section .right .filter input{
  width: 100%;
  outline: none;
  appearance: none; /*to remove the default slider styles*/
  border-radius: var(--border-radius-sm);
}

main section .right .filters{
  display: flex;
  flex-direction: column;
  gap: var(--gutter-sm);
}

main section .right .filter input::-webkit-slider-thumb{
cursor: pointer;  
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 90%;
  background-color: rgb(158, 51, 51);
   margin-top: -8px;
}

main section .right .filter input::-webkit-slider-runnable-track{
  background-color: #c5e2d7;
  border-radius: var(--border-radius-sm);
  height: 3px;
 
}


canvas{
  display: none;
  height: auto; 
}

.presets{
  display: flex;
  gap: var(--gutter-sm);
  flex-wrap: wrap;
  
}
.preset{
  height: 30px;
  padding: var(--padding-sm);
  border-radius: var(--border-radius-md);
  background-color: var(--bg-active-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading{
 display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}