:root{
    /*bg colors*/
    --bg-primary-color: rgb(17, 17, 17);
    --bg-secondary-color: rgb(29, 29, 29);
    --bg-tertiary-color: rgb(41, 41, 41);
    --bg-active-color: rgb(212, 209, 209);

    /*text colors*/
    --text-primary-color: rgb(213, 202, 202);
    --text-secondary-color: rgb(200, 200, 200);
    --text-tertiary-color: rgb(150, 150, 150);
    --text-active-color: rgb(100, 100, 100);

    /*padding*/
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /*margin*/
    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;

    /*gutter*/
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;

    /*font sizes*/
    --font-sm: 0.875rem;
    --font-md: 1rem;
    --font-lg: 1.25rem;
    --font-xl: 1.5rem;

    /*border radius*/
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.5rem;

    
}